.member-table {
  & > thead > tr > th{
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
}

.tablesorter-header-inner{
  pointer-events: none;
}

[data-remove-member],[data-edit-member],[data-add-tags]{
  & > *{
    pointer-events: none;
  }
}
